@{
    ViewData["Title"] = "Scoring System ";
}

<link rel="stylesheet" type="text/css" href="~/css/instructions.css" />
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Montserrat:wght@300&family=Noto+Sans&family=Open+Sans:wght@300&family=Prompt:wght@200&display=swap" rel="stylesheet">

<body class="bg">
    <div class="center">
        <div class="blurDiv">
            <h2 style=" margin-top:10px;">Scoring System</h2>
            <hr />
            <div class="rulesDisplay">
                <figure>
                    <img src="/images/residential.jpg" />
                    <figcaption class=" figureCap">Residential</figcaption>
                </figure>
                <p>If it is next to an industry, then it scores 1 point only. Otherwise, it scores 1 point for each adjacent residential, or commercial, and 2 points for each adjacent park.</p>
            </div>

            <div class="rulesDisplay">
                <figure>
                    <img src="/images/industry.jpg" />
                    <figcaption style="text-align:center">Industry</figcaption>
                </figure>
                <p>Scores 1 point per industry in the city. Each industry generates 1 coin per residential building adjacent to it.</p>
            </div>

            <div class="rulesDisplay">
                <figure>
                    <img src="/images/commercial.jpg" />
                    <figcaption class=" figureCap" >Commercial</figcaption>
                </figure>
                <p>Scores 1 point per commercial adjacent to it. Each commercial generates 1 coin per residential adjacent to it.</p>
            </div>

            <div class="rulesDisplay">
                <figure>
                    <img src="/images/park.jpg" />
                    <figcaption style="text-align:center">Park</figcaption>
                </figure>
                <p>Scores 1 point per park adjacent to it.</p>
            </div>

            <div class="rulesDisplay">
                <figure>
                    <img src="/images/road.jpg" />
                    <figcaption style="text-align:center" >Road</figcaption>
                </figure>
                <p>Scores 1 point per connected road in the same row.</p>
            </div>
            <button onclick="window.location.href ='/Home/Index'" class="button">Main Menu </button>
            <br />
    </div>
    <br />
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"/>